* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
}
.App {
  background-color: hsl(0, 0%, 86%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  height: 100vh;
}
.section {
  background-color: hsl(0, 0%, 100%);
  padding: 40px;
  border-radius: 30px 30px 170px;
}
/* Start Form */
form {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 2px solid hsl(0, 0%, 94%);
}

form label {
  font-size: 12px !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600 !important;
  color: hsl(0, 1%, 44%);
  margin: 0 0 10px 0 !important;
}
form input {
  height: 65px !important;
  border-radius: 5px;
  padding-left: 20px;
  width: 150px !important;
  font-weight: 600;
  font-size: 32px !important;
  cursor: pointer;
  border-color: hsl(0, 1%, 44%) !important;
}
form input:focus {
  border-color: hsl(259, 100%, 65%) !important;
}

form button {
  margin-left: 60px;
  width: 80px;
  border-radius: 50% !important;
  height: 80px !important;
  position: relative;
  bottom: -88px;
  background-color: hsl(259, 100%, 65%) !important;
  cursor: pointer;
  border-color: transparent;
}
form button:hover {
  background-color: black !important;
}
/* End Form */
.Header {
  margin: 32px;
}
.result {
  padding-top: 40px;
}
.result span {
  color: hsl(259, 100%, 65%);
}
.result h1 {
  font-style: italic;
  font-weight: 800;
  font-size: 90px;
  line-height: 90px;
}
.input-error {
  border-color: #fc8181;
  color: red;
}
.absolute {
  position: absolute;
  font-style: italic;
}
@media (max-width: 730px) {
  form button {
    margin-left: 0px !important;
    width: 80px !important;
    position: absolute !important;
    bottom: -120px;
    transform: translateX(-50%);
    left: 50%;
    background-color: hsl(259, 100%, 65%) !important;
  }
  .css-1rafi8n {
    position: relative;
  }
  form {
    padding-bottom: 80px;
    margin-bottom: 30px;
  }
}
@media (max-width: 610px) {
  form input {
    padding-left: 0px;
    width: inherit !important;
    font-size: inherit !important;
  }
  form {
    padding-bottom: 60px;
    margin-bottom: 20px;
  }
  .section {
    margin: 30px;
  }
  form button {
    width: 60px !important;
    bottom: -90px;
    height: 60px !important;
  }
}
@media (max-width: 560px) {
  .result h1 {
    font-size: 45px;
  }
}
@media (min-width: 460px) and (max-width: 559px) {
  .result h1 {
    font-size: 68px;
  }
}
@media (max-width: 459px) {
  .result h1 {
    font-size: 45px;
  }
}
